<h1>Accounts Controller!</h1>

<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>